@font-face {
    font-family: MyFont;
    src: url(Roboto-Regular.ttf);
}
* {
    font-family: MyFont;
}
body {
    display: block;
    width: auto;
    .name {
        background-image: url(images/bg.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        float: left;
        position: relative;
        .name-bg {
            width: 4000px;
            height: auto;
            position: relative;
        }
        .name-text {
            margin: 400px;
            text-align: center;
            color: #171ab5;
            .name-title {
                font-size: 100px;
                text-align: center;
            }
            .name-undertitle {
                font-size: 30px;
            }
        }
    }
    .about {
        width: 100%;
        float: left;
        margin-bottom: 50px;
        margin-top: 50px;
        .about-title, .about-text {
            text-align: center;
        }
        .about-title {
            width: 100%;
            font-size: 60px;

            color: #171ab5;
        }
        .about-text {
            width: 100%;
            font-size: 20px;
            text-align: center;
            margin-top: 30px;
        }
    }
    .plastima {
        width: 100%;
        float: left;
        margin-top: 50px;
        margin-bottom: 50px;
        .plastima-text {
            font-size: 25px;
            text-align: center;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 50px;
            .plastima-button {
                margin-top: 50px;
                align-items: center;
                justify-content: center;
                background-color: #171ab5;
                text-align: center;
                width: 200px;
                height: 60px;
                font-size: 25px;
            }
            .plastima-text-intext {
                color: #171ab5;
                font-weight: bold;
            }
        }
    }
    .product {
        width: 100%;
        .product-title {
            font-size: 60px;
            width: 100%;
            margin-bottom: 50px;
            color: #171ab5;
            text-align: center;
        }
        .carddfd {
            width: 100%;
            .card {
                border-color: #171ab5;
                border-width: 2px;
                margin-left: 50px;
                margin-top: 50px;
                float: left;
                height: 650px;
                .card-body {
                    .card-title {
                        font-size: 18px;
                    }
                    .card-text {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .companies {
        width: 100%;
        float: left;
        margin-bottom: 50px;
        margin-top: 50px;
        .companies-title, .companies-text {
            text-align: center;
        }
        .companies-title {
            font-size: 60px;
            width: 100%;
            color: #171ab5;
        }
        .companies-text {
            font-size: 20px;
            text-align: center;
            width: 100%;
            margin-top: 30px;
        }
        .col {
            margin: 50px;
        }
    }
    .contacts {
        width: 100%;
        float: left;
        margin-bottom: 50px;
        margin-top: 50px;
        .contacts-title, .contacts-text {
            text-align: center;
        }
        .contacts-title {
            font-size: 60px;
            width: 100%;
            color: #171ab5;
        }
        .contacts-text {
            font-size: 20px;
            text-align: center;
            width: 100%;
            margin-top: 30px;
        }
    }
}