@font-face {
  font-family: MyFont;
  src: url(Roboto-Regular.ttf);
}
* {
  font-family: MyFont;
}
body .name {
  width: 1920px;
  float: left;
  position: relative;
}
body .name .name-bg {
  width: 1920px;
  height: auto;
  position: relative;
}
body .name .name-text {
  position: absolute;
  top: 30%;
  text-align: center;
  color: #171ab5;
}
body .name .name-text .name-title {
  font-size: 100px;
  margin-left: 436px;
  margin-right: 436px;
}
body .name .name-text .name-undertitle {
  font-size: 30px;
  width: 800px;
  margin-left: 550px;
  margin-right: 550px;
}
body .about {
  width: 1920px;
  float: left;
  margin-bottom: 50px;
  margin-top: 50px;
}
body .about .about-title,
body .about .about-text {
  text-align: center;
}
body .about .about-title {
  font-size: 60px;
  margin-left: 436px;
  margin-right: 436px;
  color: #171ab5;
}
body .about .about-text {
  font-size: 20px;
  text-align: center;
  width: 800px;
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 30px;
}
body .plastima {
  width: 1920px;
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
}
body .plastima .plastima-text {
  font-size: 25px;
  text-align: center;
  width: 600px;
  margin-left: 650px;
  margin-right: 650px;
  margin-top: 30px;
  margin-bottom: 50px;
}
body .plastima .plastima-text .plastima-text-intext {
  color: #171ab5;
  font-weight: bold;
}
body .plastima .plastima-button {
  background-color: #171ab5;
  text-align: center;
  margin-left: 800px;
  margin-right: 800px;
  width: 300px;
  height: 60px;
  font-size: 25px;
}
body .product {
  width: 1920px;
}
body .product .product-title {
  font-size: 60px;
  margin-left: 800px;
  margin-right: 800px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #171ab5;
  text-align: center;
}
body .product .card {
  border-color: #171ab5;
  border-width: 2px;
  margin-left: 50px;
  margin-top: 50px;
  float: left;
  height: 650px;
}
body .product .card .card-body .card-title {
  font-size: 18px;
}
body .product .card .card-body .card-text {
  font-size: 15px;
}
body .companies {
  width: 1920px;
  float: left;
  margin-bottom: 50px;
  margin-top: 50px;
}
body .companies .companies-title,
body .companies .companies-text {
  text-align: center;
}
body .companies .companies-title {
  font-size: 60px;
  margin-left: 436px;
  margin-right: 436px;
  color: #171ab5;
}
body .companies .companies-text {
  font-size: 20px;
  text-align: center;
  width: 800px;
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 30px;
}
body .companies .col {
  margin: 50px;
}
body .contacts {
  width: 1920px;
  float: left;
  margin-bottom: 50px;
  margin-top: 50px;
}
body .contacts .contacts-title,
body .contacts .contacts-text {
  text-align: center;
}
body .contacts .contacts-title {
  font-size: 60px;
  margin-left: 436px;
  margin-right: 436px;
  color: #171ab5;
}
body .contacts .contacts-text {
  font-size: 20px;
  text-align: center;
  width: 800px;
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 30px;
}
