@font-face {
    font-family: MyFont;
    src: url(Roboto-Regular.ttf);
}
* {
    font-family: MyFont;
}

body {
    .name {
        width: 1920px;
        float: left;
        position: relative;
        .name-bg {
            width: 1920px;
            height: auto;
            position: relative;
        }
        .name-text {
            position: absolute;
            top: 30%;
            text-align: center;
            color: #171ab5;
            .name-title {
                font-size: 100px;
                margin-left: 436px;
                margin-right: 436px;
            }
            .name-undertitle {
                font-size: 30px;
                width: 800px;
                margin-left: 550px;
                margin-right: 550px;
            }
        }
    }
    .about {
        width: 1920px;
        float: left;
        .about-title, .about-text {
            text-align: center;
        }
        .about-title {
            font-size: 60px;
            margin-left: 436px;
            margin-right: 436px;
            margin-top: 50px;
            color: #171ab5;
        }
        .about-text {
            font-size: 20px;
            text-align: center;
            width: 800px;
            margin-left: 550px;
            margin-right: 550px;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
}